{% extends 'students/header.html' %}

{% block title %}
    Студенты
{% endblock %}


{% block content %}

    <table>
        <tr>
            <th>ФИО</th>
            <th>Телефон</th>
            <th>Средний балл аттестата</th>
            <th>Предмет</th>
            <th>Балл</th>
        </tr>
        {% for item in students %}
            <tr data-id="{{ item.id }}">
                <td>{{ item.fio }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.middle }}</td>
                <td>{{ item.lesson }}</td>
                <td>{{ item.score }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
